<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{$head_siteIcon}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <title>{$ag_title|default='File'} | {$head_siteTitle|default=''}</title>

        <!--CSS样式引入-->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@latest/dist/semantic.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/sweetalert2@latest/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/static/frame/Argon/css/argon-design-system.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/css/nucleo-icons.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/css/nucleo-svg.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/static/style.css">
        <!--CSS样式引入结束-->

        <!--框架JS引入-->
        <script src="//cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="//cdn.jsdelivr.net/npm/semantic-ui@latest/dist/semantic.min.js"></script>
        <script src="/static/frame/Argon/js/argon-design-system.min.js"></script>
        <script src="/static/frame/Argon/js/plugins/jasny-bootstrap.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/js/core/popper.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/argon-design-system-free@1.2.0/assets/js/core/bootstrap.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/xss@latest/dist/xss.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
        <!--框架JS引入结束-->

        <!--Vaptcha引入-->
        <script src='https://v-cn.vaptcha.com/v3.js'></script>
        <!--Vaptcha引入结束-->

        <!--[if lt IE 9]>
        <script src=//cdn.jsdelivr.net/npm/html5shiv@latest/dist/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            function reg_ajax(text){
                return text.replace(/\s/g,"");
            }
        </script>
    </head>
    <body style="background: #F1F2F3;">