{include file='static@page/load'}
{include file='static@page/header'}
{include file='static@nav/home'}
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div style="width: 90%;height: 90%;">
            <div class="accordion-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ml-auto">
                            <div class="accordion my-3" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                这个网站是干什么的？
                                                <i class="ni ni-bold-down float-right"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body opacity-8">
                                            一个用爱好和热爱建造出的Furry档案馆，收纳了Furry的各种信息。
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                我能不能支持这个网站？
                                                <i class="ni ni-bold-down float-right"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body opacity-8">
                                            用爱发电，维护不易，您可以去<a href="//space.bilibili.com/394675616">B站</a>给个三联 或者去 <a href="//afdian.net/@huhuui" target="_blank">爱发电</a> 赞助一点吧。
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                这个网站真的只有一个人运营吗？
                                                <i class="ni ni-bold-down float-right"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body opacity-8">
                                            是的，但是由于经费有限，服务器带宽不会太大，地区也基本不会在内地，所以网站访问速度有点慢。
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreea" aria-expanded="false" aria-controls="collapseThree">
                                                这个网站有没有挂CDN？
                                                <i class="ni ni-bold-down float-right"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThreea" class="collapse" aria-labelledby="headingThreea" data-parent="#accordionExample">
                                        <div class="card-body opacity-8">
                                            由于经费原因，没有挂CDN，但是如果以后有人攻击的话会挂cloudflare
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                                这个的框架是什么？怎么没见过？
                                                <i class="ni ni-bold-down float-right"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body opacity-8">
                                            这个网站的框架是基于Thinkphp自己写的，暂时不开放源代码（下载）
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingFifth">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-controls="collapseFifth">
                                                网站有宣传视频吗？
                                                <i class="ni ni-bold-down float-right"></i>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                                        <div class="card-body opacity-8">
                                            现在没有，但是以后会做。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='static@page/footer'}
