{include file='static@page/load'}
{include file='static@page/header'}
{include file='static@nav/home'}
<style>
    .bgcard{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 79vh;
        background-image: linear-gradient(0deg,#fff,#f3f5f8) !important;
        border-radius: 5px !important;
        box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%), -8px -8px 20px 0 #fff !important;
    }
</style>
<br>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column bgcard">
        <div style="width: 90%;height: 90%;color: #505050;">
            <h2>赞助人员列表</h2>
            <span>由于是手动添加（咱也看不懂爱发电的api啊），所以数据更新可能不及时！</span>
            <a href="//afdian.net/@huhuui" target="_blank">我要支持！</a>
            <br>
            <br>
            <label>暂无</label>
        </div>
    </div>
</div>
{include file='static@page/footer'}
