<div class="ui secondary menu">
    <div class="header item">控制台</div>
    <a class="item" href="/admin.php">
        仪表盘
    </a>
    <a class="item" href="/admin.php/furry">
        管理毛毛
    </a>
    <a class="item" href="/admin.php/photo">
        管理返图
    </a>
    <a class="item" href="/admin.php/notice">
        管理公告
    </a>
    <a class="item" href="/admin.php/user">
        管理用户
    </a>
    <a class="item" href="/admin.php/yijian">
        管理意见
    </a>
    <a class="item" href="/admin.php/system">
        系统设置
    </a>
    <a class="item" href="/">
        网站首页
    </a>
</div>
