{include file='static@page/load'}
{include file='static@page/header'}
{include file='static@nav/admin'}
<div class="ui grid">
    <div class="three wide column">
        <div class="ui secondary vertical menu">
            <a class="item" href="/admin.php/notice">
                公告列表
            </a>
            <a class="item" href="/admin.php/notice/add">
                新增公告
            </a>
        </div>
    </div>
    <div class="twelve wide column">
        <form method="post" action="/admin.php/notice/add_c">
            <div class="form-group">
                <label>内容</label>
                <textarea name="name" class="form-control form-control-alternative" rows="4" placeholder="内容"></textarea>
            </div>
            <div class="form-group">
                <label>类型</label>
                <select class="form-control form-control-alternative" data-trigger name="type">
                    <option disabled selected>请选择类型</option>
                    <option value="0">普通</option>
                    <option value="1">提示</option>
                    <option value="2">成功</option>
                    <option value="3">注意</option>
                    <option value="4">警告</option>
                </select>
            </div>
            <button class="btn btn-secondary" type="submit">提交</button>
        </form>
    </div>
</div>