{include file='static@page/load'}
{include file='static@page/header'}
{include file='static@nav/home'}
<div class="ui grid">
    <div class="three wide column">
        <div class="ui secondary vertical menu">
            <a class="item" href="/user.php">
                修改信息
            </a>
            <a class="item active" href="/user.php/index/avpt">
                修改头像
            </a>
            <a class="item" href="/user.php/furry">
                我提交的毛毛
            </a>
            <a class="item" href="/user.php/furry/add">
                提交毛毛
            </a>
        </div>
    </div>
    <div class="twelve wide column">
        <form class="ui form" method="post" enctype="multipart/form-data" action="/user.php/index/avpt_cp">
            <input type="hidden" value="{$user.id}" name="id">
            <div class="field">
                <div class="fileinput fileinput-new text-center ml-5" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-circle img-raised">
                        <img src="/static/images/placeholder.jpg" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                    <div>
						<span class="btn btn-raised btn-round btn-primary btn-simple btn-file">
							<span class="fileinput-new">上传头像</span>
							<span class="fileinput-exists">修改</span>
							<input type="file" name="img" accept="image/jpeg,image/jpg,image/png" />
						</span>
                        <br />
                        <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                            <i class="fa fa-times"></i> Remove
                        </a>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" type="submit">保存修改</button>
        </form>
    </div>
</div>
