{include file='static@page/load'}
{include file='static@page/header'}
{include file='static@nav/home'}
{if !empty($furry_list)}
    <div style="display: flex;">
        <div style="flex: 0vw;"></div>
        <h2 style="flex: 95vw;" id="mao-list">毛毛列表</h2>
    </div>
    <div style="height: 18px;"></div>
    <div style="display: flex;">
        <div style="flex: 0vw;"></div>
        <div class="ui link cards" style="flex: 94vw;">
            {volist name='furry_list' id='vo'}
                {php}
                    $auther = Db::table('user_list')->where('id',$vo['auther_id'])->find();
                    $auther_username = $auther['username'];
                    $auther_disname = $auther['displayname'];
                {/php}
                <div class="card card-show" data-tooltip="点击跳转资料卡" onclick="javascript:window.open('/info/furry?id={$vo.id}','_self')">
                    <div class="image">
                        <img src="/static/images/furry/{$vo.name}.jpg" loading="lazy">
                    </div>
                    <div class="content">
                        <div class="header">
                            <div class="ui horizontal label animal-show">{$vo.animal}</div>
                            {$vo.name}
                        </div>
                        <div class="meta">
                            <a>来源：{$vo.source}</a>
                        </div>
                        <div class="description">
                            {php}
                            if(mb_strlen($vo['describe']) > 18) echo htmlentities(mb_substr($vo['describe'],0,18)).'...';
                            else echo htmlentities($vo['describe']);
                            {/php}
                        </div>
                    </div>
                    <div class="extra content">
                        <a class="ui basic image label" href="/info/user?id={$vo.auther_id}">
                            <img src="/static/images/user/{$auther_username}.jpg" width="16px" height="16px">
                            {$auther_disname}
                        </a>
                        <span class="right floated">
                            <div class="ui red horizontal label">
                                {if($vo.has_fur==1)}有毛装
                                {else /}虚拟UP
                                {/if}
                            </div>
                            <a class="ui gray circular label">
                                {if($vo.gender==1)}雄
                                {elseif($vo.gender==0)}雌
                                {elseif($vo.gender==-1)}未知
                                {/if}
                            </a>
                        </span>
                    </div>
                </div>
            {/volist}
        </div>
    </div>
    <br>
    {php}echo $furry_list->render();{/php}
{else /}
    <div class="info">
        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-settings-gear-65"></i>
        </div>
        <h6 class="info-title text-uppercase text-primary">Sorry！没有毛毛符合条件！</h6>
        <p class="description opacity-8">我也在努力扩充数据库，但是一个人的力量是不够的，所以 <a href="/user.php/register">注册一个账户</a>或者<a href="/user.php/login">登录账户</a> 帮助我们扩充吧</p>
        <a href="/" class="text-primary">回到首页
            <i class="ni ni-bold-right text-primary"></i>
        </a>
    </div>
{/if}
<br>
{include file='static@page/footer'}
