{include file='static@page/load'}
{include file='static@page/header'}
{include file='static@nav/home'}
<br>
<div>
    {foreach $notice_list as $key=>$vo }
        {if ($vo.type==0)}
            <div style="display: flex;">
                <div style="flex: 0px;"></div>
                <div class="alert at alert-default alert-dismissible fade show" style="flex: 95vw;" role="alert">
                    <span class="alert-inner--text">
                        {php}echo $vo['name'];{/php}
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="flex: 0px;"></div>
            </div>
        {elseif ($vo.type==1)}
            <div style="display: flex;">
                <div style="flex: 0px;"></div>
                <div class="alert at alert-info alert-dismissible fade show" style="flex: 95vw;" role="alert">
                    <span class="alert-inner--text">
                        {php}echo $vo['name'];{/php}
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="flex: 0px;"></div>
            </div>
        {elseif ($vo.type==2)}
            <div style="display: flex;">
                <div style="flex: 0px;"></div>
                <div class="alert at alert-success alert-dismissible fade show" style="flex: 95vw;" role="alert">
                    <span class="alert-inner--text">
                        {php}echo $vo['name'];{/php}
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="flex: 0px;"></div>
            </div>
        {elseif ($vo.type==3)}
            <div style="display: flex;">
                <div style="flex: 0px;"></div>
                <div class="alert at alert-warning alert-dismissible fade show" style="flex: 95vw;" role="alert">
                    <span class="alert-inner--text">
                        {php}echo $vo['name'];{/php}
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="flex: 0px;"></div>
            </div>
        {elseif ($vo.type==4)}
            <div style="display: flex;">
                <div style="flex: 0px;"></div>
                <div class="alert at alert-danger alert-dismissible fade show" style="flex: 95vw;" role="alert">
                    <span class="alert-inner--text">
                        {php}echo $vo['name'];{/php}
                    </span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div style="flex: 0px;"></div>
            </div>
        {/if}
    {/foreach}
</div>
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="furry-tab" data-toggle="tab" href="#furry-c" role="tab" aria-controls="furry-c" aria-selected="true">
                        <i class="ni ni-cloud-upload-96 mr-2"></i>搜毛毛
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="photo-tab" data-toggle="tab" href="#photo-c" role="tab" aria-controls="photo-c" aria-selected="false">
                        <i class="ni ni-bell-55 mr-2"></i>搜返图
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="furry-c" role="tabpanel" aria-labelledby="furry-tab">
        <br>
        <div style="display: flex;">
            <div style="flex: 0vw;"></div>
            <h2 style="flex: 95vw;" id="mao-list">筛选 - 毛毛</h2>
        </div>
        {if !empty($furry_list)}
        <div style="height: 18px;"></div>
        <div style="display: flex;">
            <div style="flex: 0vw;"></div>
            <div class="ui link cards" style="flex: 94vw;">
                {foreach $furry_list as $key=>$vo }
                    {php}
                        $auther = Db::table('user_list')->where('id',$vo['auther_id'])->find();
                        $auther_username = $auther['username'];
                        $auther_disname = $auther['displayname'];
                    {/php}
                    <div class="card card-show" data-tooltip="点击跳转资料卡" onclick="window.open('/info/furry?id={$vo.id}','_self')">
                        <div class="image">
                            <img src="/static/images/furry/{$vo.name}.jpg" loading="lazy">
                        </div>
                        <div class="content">
                            <div class="header">
                                <div class="ui horizontal label animal-show">{$vo.animal}</div>
                                {$vo.name}
                            </div>
                            <div class="meta">
                                <a>来源：{$vo.source}</a>
                            </div>
                            <div class="description">
                                {php}
                                    if(mb_strlen($vo['describe']) > 18) echo htmlentities(mb_substr($vo['describe'],0,18)).'...';
                                    else echo htmlentities($vo['describe']);
                                {/php}
                            </div>
                        </div>
                        <div class="extra content">
                            <a data-tooltip="点击跳转用户资料" class="ui basic image label" href="/info/user?id={$vo.auther_id}">
                                <img src="/static/images/user/{$auther_username}.jpg" width="16px" height="16px">
                                {$auther_disname}
                            </a>
                            <span class="right floated">
                                <div class="ui red horizontal label">
                                    <i class="fa fa-id-card-o"></i>
                                    {if($vo.has_fur==1)}有毛装
                                    {elseif $vo.has_fur==-1}无数据
                                    {else /}虚拟UP
                                    {/if}
                                </div>
                                <a class="ui gray circular label">
                                    <i class="fa fa-user-o"></i>
                                    {if($vo.gender==1)}雄
                                    {elseif($vo.gender==0)}雌
                                    {elseif($vo.gender==-1)}未知
                                    {/if}
                                </a>
                            </span>
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
        {else /}
            <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                    <i class="ni ni-settings-gear-65"></i>
                </div>
                <h6 class="info-title text-uppercase text-primary">Sorry！没有毛毛符合条件！</h6>
                <p class="description opacity-8">我也在努力扩充数据库，但是一个人的力量是不够的，所以 <a href="/user.php/register">注册一个账户</a>或者<a href="/other.php/o_user/login">登录账户</a> 帮助我们扩充吧</p>
                <a href="/other.php/o_home" class="text-primary">回到首页
                    <i class="ni ni-bold-right text-primary"></i>
                </a>
            </div>
        {/if}
    </div>
    <div class="tab-pane fade" id="photo-c" role="tabpanel" aria-labelledby="photo-tab">
        <br>
        <div style="display: flex;">
            <div style="flex: 0vw;"></div>
            <h2 style="flex: 95vw;" id="photo-list">筛选 - 返图</h2>
        </div>
        {if !empty($photo_list)}
            <div style="height: 18px;"></div>
            <div style="display: flex;">
                <div style="flex: 0vw;"></div>
                <div class="ui link cards" style="flex: 94vw;">
                    {foreach $photo_list as $key=>$vo }
                        {php}
                            $auther = Db::table('user_list')->where('id',$vo['auther_id'])->find();
                            $auther_username = $auther['username'];
                            $auther_disname = $auther['displayname'];
                        {/php}
                        <div class="card card-show" onclick="window.open('/info/photo?id={$vo.id}','_self')">
                            <div class="image">
                                <img src="/static/images/photo/{$vo.title}/img1.jpg" loading="lazy">
                            </div>
                            <div class="content">
                                <div class="header">
                                    {$vo.title}
                                </div>
                                <div class="meta">
                                    <a>来源：{$vo.source}</a>
                                </div>
                                <div class="description">
                                    {php}
                                        if(mb_strlen($vo['content']) > 18) echo htmlentities(mb_substr($vo['content'],0,18)).'...';
                                        else echo htmlentities($vo['content']);
                                    {/php}
                                </div>
                            </div>
                            <div class="extra content">
                                <a data-tooltip="点击跳转用户资料" class="ui basic image label" href="/info/user?id={$vo.auther_id}">
                                    <img src="/static/images/user/{$auther_username}.jpg" width="16px" height="16px">
                                    {$auther_disname}
                                </a>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>
        {else /}
            <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                    <i class="ni ni-settings-gear-65"></i>
                </div>
                <h6 class="info-title text-uppercase text-primary">Sorry！没有符合条件的返图！</h6>
                <p class="description opacity-8">我也在努力扩充数据库，但是一个人的力量是不够的，所以 <a href="/user.php/register">注册一个账户</a>或者<a href="/other.php/o_user/login">登录账户</a> 帮助我们扩充吧</p>
                <a href="/" class="text-primary">回到首页
                    <i class="ni ni-bold-right text-primary"></i>
                </a>
            </div>
        {/if}
    </div>
</div>
<br>
{include file='static@page/footer'}
